
/* noto-color-emoji-regular - emoji */
@font-face {
  font-display: swap;
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Color Emoji'), 
        url('/fonts/noto-color-emoji-v30-emoji-regular.woff2') format('woff2'),
       url('/fonts/noto-color-emoji-v30-emoji-regular.ttf') format('truetype');
}
