
blockquote.learning-intro,
    html.dark blockquote.learning-intro {
        font-size: 16px;
      line-height: 1.4em;
      font-family: Montserrat,sans-serif;
      border-color: #007934;
      border-width: 4px;
      background:#e1f3db30;
  padding: 10px;
    padding-left: 10px;
  padding-left: 15px;
      margin-top: 0;
      border-radius: 3px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      max-width:700px;
      margin:0 auto;
    }
    blockquote.learning-intro p {
      font-size: 16px;
      line-height: 1.4em;
      font-family: Montserrat,sans-serif;
      margin-bottom: 7px;
    }
    blockquote.learning-intro p:last-child {
        margin-bottom: 0;
    }
    html.dark blockquote.learning-intro {
        border-color: white;
        background: #ffffff12;
    }